*{
    margin: 0;
    padding: 0;
    font-family: "germania one", sans-serif;
}

body {
    background-color: #242234;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    border-bottom: 1px solid #383838;
    text-align: center;
    padding: 5px;
    nav{
        a{
            text-decoration: none;
            color: #999393;
            font-weight: bold;
        }
            .btnjogar a{
                background-color: rgb(190, 12, 12);
                padding: 10px 20px;
                border-radius: 5px;
            }
    }
    img{
        position: absolute;
        top: 0px;           
        left: 20px;          
        height: 120px;       
        z-index: 100;        
        width: auto;
    }
}

.banner{
    img{
        width: 100%;
        height: auto;
    }
    .botao-jogar{
        display: none;
    }
}

main {
    width: 400px;
    margin: auto;
    background-color: #242234;
    color: #ffffff;
    #instrucoes {
        text-align: center;
        margin-top: 50px;
        div{
            border: #ffffff solid 1px;
        }
        h2{
            text-align: center;
            margin: 15px;
            padding: 10px;
        }
        p{
            padding: 30px;
            text-align: center;
            font-size: 18px;
        }
    }
}

#jogo{
    margin-top: 150px;
    width: 100%;
    height: auto;
    text-align: center;
    iframe{
        text-align: center;
        width: 1280px;
        height: 720px;
        border: none;
    }
}

/* Regras para telas maiores que 480px*/

@media(min-width: 480px) {
    header{
        width: 100%;
        display: inline-block;
        z-index: 10;
        .logo{
            float: left;
            z-index: 11;
        }
        nav{
            float: right;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    padding: 25px;
                    a{
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                    a:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }/*Fim do Header*/
    .banner
    {
        position: relative;
        margin-top: 20px;
        .botao-jogar{
            display: block;
            position: absolute;
            height: 140px;
            width: auto;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }/*Fim do Banner*/
    main{
        width: 1280px;
        margin-top: 130px;
        .instrucoes{
            div{
                width: 100%;
            }    
        }
        .historia{
            div{
                margin-top: 150px;
                h1{
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
        }
    }
} /*Fim do media*/