*{
    margin: 0;
    padding: 0;
    font-family: "germania one", sans-serif;
}

body {
    background-color: #242234;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 0, 0);
    top: 0;
    border-bottom: 1px solid #383838;
    text-align: center;
    padding: 5px;
    nav{
        a{
            text-decoration: none;
            color: #999393;
            font-weight: bold;
        }
            .btnjogar a{
                background-color: rgb(190, 12, 12);
                padding: 10px 20px;
                border-radius: 5px;
            }
    }
}

.logo {
    display: none;
}

.banner{
    img{
        width: 100%;
        height: auto;
    }
    .botao-jogar{
        display: none;
    }
}

main {
    width: 400px;
    margin: auto;
    background-color: #242234;
    color: #ffffff;
    h2{
        text-align: center;
        margin: 15px;
        padding: 10px;
    }
    p{
        font-size: 22px;
    }
    #instrucoes {
        text-align: center;
        margin-top: 50px;
        div{
            border: #ffffff solid 1px;
        }
        h2{
            text-align: center;
            margin: 15px;
            padding: 10px;
        }
        p{
            padding: 30px;
            text-align: center;
            font-size: 18px;
        }
    }
    .recursos {
        margin-bottom: 40px;
    }
    .recursos-img {
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        img{
            border: 1px solid #ffffff;
            width: 80px;
            height: 80px;
        }
    }

    .recursos-info {
        display: inline-block;
        vertical-align: top;
    }
    .recursos-info p, .recursos-info a {
        margin: 5px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #999393;
    margin-top: 50px;
}
/* Regras para telas maiores que 480px*/

@media(min-width: 480px) {
    header{
        width: 100%;
        display: inline-block;
        z-index: 10;
        .logo{
            display: block;
            float: left;
            z-index: 11;
             img{
                position: absolute;
                top: 0px;           
                left: 20px;          
                height: 120px;       
                z-index: 100;        
                width: auto;
            }      
        }
        nav{
            float: right;
            ul{
                list-style: none;
                li{
                    display: inline-block;
                    padding: 25px;
                    a{
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                    a:hover {
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }/*Fim do Header*/
    .banner
    {
        position: relative;
        margin-top: 20px;
        .botao-jogar{
            display: block;
            position: absolute;
            height: 140px;
            width: auto;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }/*Fim do Banner*/
    main{
        width: 1280px;
        margin-top: 130px;
        #jogo{
            margin-top: 150px;
            width: 100%;
            height: auto;
            text-align: center;
        }
        iframe{
            text-align: center;
            width: 1280px;
            height: 720px;
            border: none;
        }
        .historia{
            img{
                text-align: center;
                margin: 20px;
            }
            .grid{
                .coluna-texto{
                    margin-top: 20px;
                    display: inline-block;
                    vertical-align: top;
                    width: 48%;
                    p{
                        font-size: 22px;
                    }
                }
                .coluna-imagemtexto{
                    display: inline-block;
                    vertical-align: top;
                    width: 48%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                .coluna-imagem{
                    display: inline-block;
                    vertical-align: top;
                    width: 48%;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
} 
/*Fim do media*/